<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item active">Список категорий</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-trees" title="Список категорий" />
        <panel>
            <div class="mb-4">
                <router-link class="btn btn-primary" to="/categories/create">Добавить категорию</router-link>
            </div>
            <div v-if="showLoader" class="text-center">
                <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
            </div>
            <div v-else>
                <div v-if="items.length > 0">
                    <table class="table">
                        <thead class="thead-themed">
                        <tr>
                            <th style="width:50px;">id</th>
                            <th>Название</th>
                            <th style="width:10px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(category, index) in items">
                            <td scope="row">{{ category.id }}</td>
                            <td>
                                <router-link :to="{ name: 'category-edit', params: {id: category.id}}">{{ category.name }}</router-link>
                            </td>
                            <td class="text-right">
                                <b-dropdown variant="icon" class="fs-lg" right no-caret>
                                    <template v-slot:button-content>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </template>
                                    <b-dropdown-item :href="category.url" target="_blank">
                                        <i class="fal fa-link mr-2"></i>
                                        Посмотреть на сайте
                                    </b-dropdown-item>
                                    <router-link :to="{ name: 'category-edit', params: {id: category.id}}" v-slot="{ href }">
                                        <b-dropdown-item :href="href">
                                            <i class="fal fa-pen-alt mr-2"></i>
                                            Редактировать
                                        </b-dropdown-item>
                                    </router-link>
                                    <b-dropdown-item @click="confirmRemove(index)">
                                        <i class="fal fa-trash mr-2"></i>
                                        Удалить
                                    </b-dropdown-item>
                                </b-dropdown>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <b-pagination
                            v-if="lastPage > 1"
                            v-model="currentPage"
                            :total-rows="total"
                            :per-page="perPage"
                    ></b-pagination>
                    <b-modal
                            v-model="showConfirm"
                            size="sm"
                            title="Удалить категорию"
                            ok-title="Да, удалить"
                            ok-variant="danger"
                            cancel-title="Отмена"
                            @ok="remove"
                    >
                        <p>
                            Вы уверены в том, что хотите удалить категорию
                            <strong>#{{ removeItem.id }} "{{ removeItem.name }}"</strong>?
                        </p>
                    </b-modal>
                </div>
                <div v-else>
                    <p class="text-center">Товары не найдены</p>
                </div>
            </div>
        </panel>
    </div>
</template>

<script>
    import paginate from '../../mixins/paginate';
    import Breadcrumb from '../Widgets/Breadcrumb';
    import Subheader from '../Widgets/Subheader';
    import Panel from '../Widgets/Panel';
    export default {
        name: "Categories",
        components: {Panel, Subheader, Breadcrumb},
        mixins: [paginate],
        data() {
            return {
                url: 'shop/categories',
                removeUrl: 'shop/category',
            }
        }
    }
</script>

<style scoped>

</style>
