<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item"><router-link to="/categories">Список категорий</router-link></li>
                <li class="breadcrumb-item active">Редактировать категорию</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-carrot" title="Редактировать категорию">
            <template v-slot:subheader-block>
                <div v-if="!showLoader" class="subheader-block d-lg-flex align-items-center">
                    Обновлено: {{ category.updated_at }}
                </div>
            </template>
            <template v-slot:subheader-subtitle>
                <span class="fw-300" v-if="!showLoader"># {{ category.id }}</span>
            </template>
        </subheader>
        <div v-if="showLoader" class="text-center">
            <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
        </div>
        <div v-else>
            <category-form :category="category" :errors="errors" @submit="onSubmit"/>
        </div>
        <b-modal
                v-model="showModal"
                size="sm"
                :ok-only="true"
                title="Категория сохранен"
                body-class="success-modal"
        >
            <b-alert variant="success" show>Категория успешно сохранена</b-alert>
        </b-modal>
    </div>
</template>

<script>
    import CategoryForm from './CategoryForm';
    import Subheader from '../Widgets/Subheader';
    import Breadcrumb from '../Widgets/Breadcrumb';
    export default {
        name: "CategoryEdit",
        components: {CategoryForm, Breadcrumb, Subheader},
        data() {
            return {
                showLoader: true,
                showModal: false,
                category: {},
                errors: {}
            };
        },
        created() {
            this.fetch();
        },
        methods: {
            fetch() {
                axios.get('shop/category/' + this.$route.params.id).then(response => {
                    this.category = response.data.item;
                    this.showLoader = false;
                });
            },
            onSubmit(data) {
                axios.patch('shop/category/' + this.category.id, data)
                    .then(() => {
                        this.fetch();
                        this.showModal = true;
                    })
                    .catch(e => {
                        this.errors = e.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>
    .success-modal {
        padding-bottom: 0;
    }
</style>
