<template>
    <b-form @submit.prevent="onSubmit()">
        <b-row>
            <b-col xl="6">
                <panel>
                    <template slot="header">Основная информация</template>
                    <b-form-group
                            label-class="form-label"
                            label-for="input-name"
                            :state="getState('name')"
                            :invalid-feedback="getError('name')"
                    >
                        <template slot="label">
                            Наименование категории
                            <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                                id="input-name"
                                v-model="form.name"
                                :state="getState('name')"
                                trim
                                placeholder="Например, Фрукты"
                        />
                    </b-form-group>
                    <b-form-group
                            v-if="hasCategory"
                            label-class="form-label"
                            label-for="input-slug"
                            :state="getState('slug')"
                            :invalid-feedback="getError('slug')"
                    >
                        <template slot="label">
                            Slug
                            <b-badge
                                    pill
                                    variant="info"
                                    v-b-tooltip.hover
                                    title="Используется для генерации ссылки на категорию и товары. Если поле оставить пустым, то заполнится автоматически."
                            >?
                            </b-badge>
                        </template>
                        <b-form-input
                                id="input-slug"
                                v-model="form.slug"
                                :state="getState('slug')"
                                trim
                                placeholder="Например, frukty"
                        />
                    </b-form-group>
                </panel>
            </b-col>
        </b-row>
        <b-button type="submit" size="lg" variant="primary" class="waves-effect waves-themed">Сохранить</b-button>
    </b-form>
</template>

<script>
    import Panel from '../Widgets/Panel';
    export default {
        name: "CategoryForm",
        components: {Panel},
        props: {
            category: {
                type: Object,
                required: false
            },
            errors: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                form: {
                    name: '',
                    slug: '',
                }
            };
        },
        created() {
            if (this.hasCategory) {
                this.form = this.category;
            }
        },
        computed: {
            hasCategory() {
                return typeof this.category !== 'undefined';
            }
        },
        methods: {
            onSubmit() {
                let data = {};
                Object.keys(this.form).map(key => {
                    data[key] = this.form[key];
                });
                this.$emit('submit', data);
            },
            getState(field) {
                return typeof this.errors[field] !== 'undefined' ? false : null;
            },
            getError(field) {
                return this.getState(field) === false ? this.errors[field][0] : null;
            }
        }
    }
</script>

<style scoped>

</style>
