<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item"><router-link to="/categories">Список категорий</router-link></li>
                <li class="breadcrumb-item active">Добавить категорию</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-carrot" title="Добавить категорию"/>
        <category-form :errors="errors" @submit="onSubmit" />
        <b-modal
                v-model="showModal"
                size="sm"
                :ok-only="true"
                title="Категория сохранена"
                body-class="success-modal"
        >
            <b-alert variant="success" show>Категория успешно сохранена</b-alert>
        </b-modal>
    </div>
</template>

<script>
    import GoodForm from './GoodForm';
    import Subheader from '../Widgets/Subheader';
    import Breadcrumb from '../Widgets/Breadcrumb';
    import CategoryForm from './CategoryForm';

    export default {
        name: "GoodCreate",
        components: {CategoryForm, Breadcrumb, Subheader, GoodForm},
        data() {
            return {
                errors: {},
                showModal: false,
                newId: '',
            }
        },
        watch: {
            showModal(val) {
                if (!val) {
                    this.$router.push({
                        name: 'category-edit',
                        params: {id: this.newId}
                    });
                }
            }
        },
        methods: {
            onSubmit(data) {
                axios.post('shop/category', data)
                    .then(response => {
                        this.showModal = true;
                        this.newId = response.data.item.id;
                    })
                    .catch(e => {
                        this.errors = e.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>
    .success-modal {
        padding-bottom: 0;
    }
</style>
