<template>
    <b-form @submit.prevent="onSubmit()">
        <b-row>
            <b-col xl="6">
                <panel>
                    <template slot="header">Основная информация</template>
                    <b-form-group
                            label-class="form-label"
                            label-for="input-name"
                            :state="getState('name')"
                            :invalid-feedback="getError('name')"
                    >
                        <template slot="label">
                            Наименование товара
                            <span class="text-danger">*</span>
                        </template>
                        <b-form-input
                                id="input-name"
                                v-model="form.name"
                                :state="getState('name')"
                                trim
                                placeholder="Например, Апельсины"
                        />
                    </b-form-group>
                    <b-form-group
                            v-if="hasGood"
                            label-class="form-label"
                            label-for="input-slug"
                            :state="getState('slug')"
                            :invalid-feedback="getError('slug')"
                    >
                        <template slot="label">
                            Slug
                            <b-badge
                                    pill
                                    variant="info"
                                    v-b-tooltip.hover
                                    title="Используется для генерации ссылки на товар. Если поле оставить пустым, то заполнится автоматически."
                            >?
                            </b-badge>
                        </template>
                        <b-form-input
                                id="input-slug"
                                v-model="form.slug"
                                :state="getState('slug')"
                                trim
                                placeholder="Например, apelsiny"
                        />
                    </b-form-group>
                    <b-form-group
                            label-class="form-label"
                            label-for="input-category_id"
                            :state="getState('category_id')"
                            :invalid-feedback="getError('category_id')"
                    >
                        <template slot="label">
                            Категория
                            <span class="text-danger">*</span>
                        </template>
                        <b-form-select
                                id="input-category_id"
                                :disabled="loaders.categories"
                                :state="getState('category_id')"
                                v-model="form.category_id"
                                :options="categories"
                        >
                            <template v-slot:first>
                                <b-form-select-option
                                        v-if="loaders.categories"
                                        value=""
                                        selected
                                        disabled
                                >Выберите категорию
                                </b-form-select-option>
                                <b-form-select-option
                                        v-else
                                        value=""
                                        disabled
                                >Выберите категорию
                                </b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>
                    <b-row class="form-group">
                        <b-col lg="6">
                            <b-form-group
                                    label-class="form-label"
                                    label-for="input-price"
                                    :state="getState('price')"
                                    :invalid-feedback="getError('price')"
                            >
                                <template slot="label">
                                    Цена
                                    <span class="text-danger">*</span>
                                </template>
                                <b-form-input
                                        type="number"
                                        step="0.01"
                                        id="input-price"
                                        v-model="form.price"
                                        :state="getState('price')"
                                        trim
                                />
                            </b-form-group>
                        </b-col>
                        <b-col lg="6">
                            <b-form-group
                                    label="Старая цена"
                                    label-class="form-label"
                                    label-for="input-old_price"
                                    :state="getState('old_price')"
                                    :invalid-feedback="getError('old_price')"
                            >
                                <b-form-input
                                        type="number"
                                        step="0.01"
                                        id="input-old_price"
                                        v-model="form.old_price"
                                        :state="getState('old_price')"
                                        trim
                                />
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-form-group
                            label="Краткое описание"
                            label-class="form-label"
                            label-for="input-short_text"
                            :state="getState('short_text')"
                            :invalid-feedback="getError('short_text')"
                    >
                        <b-form-textarea
                                id="input-short_text"
                                v-model="form.short_text"
                                :state="getState('short_text')"
                                rows="3"
                                trim
                        />
                    </b-form-group>
                    <b-form-group
                            label="Подробное описание"
                            label-class="form-label"
                            label-for="input-long_text"
                            :state="getState('long_text')"
                            :invalid-feedback="getError('long_text')"
                    >
                        <b-form-textarea
                                id="input-long_text"
                                v-model="form.long_text"
                                :state="getState('long_text')"
                                rows="6"
                                trim
                        />
                    </b-form-group>
                </panel>
            </b-col>
            <b-col xl="6">
                <panel>
                    <template slot="header">Свойства товара</template>
                    <div class="form-group" v-for="(prop, index) in form.props">
                        <b-row>
                            <b-col sm="3">
                                <b-form-input
                                        v-model="prop.name"
                                        :state="getState('props.' + index + '.name')"
                                        placeholder="Например, Тара"
                                />
                                <b-form-invalid-feedback>
                                    {{ getError('props.' + index + '.name') }}
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input
                                        v-model="prop.value"
                                        :state="getState('props.' + index + '.value')"
                                        placeholder="Например, Коробка"
                                />
                                <b-form-invalid-feedback>
                                    {{ getError('props.' + index + '.value') }}
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col sm="1" class="text-right">
                                <b-button
                                        v-if="index + 1 === form.props.length"
                                        variant="outline-info"
                                        class="waves-effect waves-themed"
                                        @click="addPropRow()"
                                >+</b-button>
                                <b-button
                                        v-else
                                        variant="outline-danger"
                                        class="waves-effect waves-themed"
                                        @click="removePropRow(index)"
                                        >-</b-button>
                            </b-col>
                        </b-row>
                    </div>
                </panel>
                <panel>
                    <template slot="header">Галерея изображений</template>
                    <image-uploader :good_id="hasGood ? good.id : null" />
                </panel>
            </b-col>
        </b-row>
        <b-button type="submit" size="lg" variant="primary" class="waves-effect waves-themed">Сохранить</b-button>
    </b-form>
</template>

<script>
    import Panel from '../Widgets/Panel';
    import ImageUploader from './ImageUploader';
    export default {
        name: "GoodForm",
        components: {ImageUploader, Panel},
        props: {
            good: {
                type: Object,
                required: false
            },
            errors: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                form: {
                    name: '',
                    slug: '',
                    category_id: '',
                    price: '',
                    old_price: '',
                    short_text: '',
                    long_text: '',
                    props: [],
                },
                loaders: {
                    categories: true
                },
                categories: []
            };
        },
        created() {
            this.fetch();
            if (typeof this.good !== 'undefined') {
                this.form = this.good;
                this.form.props = this.form.props === null ? [] : this.form.props;
            }
            this.addPropRow();
        },
        computed: {
            hasGood() {
                return typeof this.good !== 'undefined';
            }
        },
        methods: {
            fetch() {
                axios.get('shop/categories/dropdown').then(response => {
                    this.categories = response.data.items;
                    this.loaders.categories = false;
                });
            },
            addPropRow() {
                this.form.props.push({name: '', value: ''});
            },
            removePropRow(index) {
                this.form.props.splice(index, 1);
            },
            onSubmit() {
                let data = {};
                Object.keys(this.form).map(key => {
                    data[key] = this.form[key];
                });
                data.props = [];
                Object.keys(this.form.props).map(key => {
                    if (this.form.props[key].name.length > 0 || this.form.props[key].value.length > 0) {
                        data.props[key] = this.form.props[key];
                    }
                });
                this.$emit('submit', data);
            },
            getState(field) {
                return typeof this.errors[field] !== 'undefined' ? false : null;
            },
            getError(field) {
                return this.getState(field) === false ? this.errors[field][0] : null;
            }
        }
    }
</script>

<style scoped>

</style>
