<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item"><router-link to="/goods">Список товаров</router-link></li>
                <li class="breadcrumb-item active">Добавить товар</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-carrot" title="Добавить товар"/>
        <good-form :errors="errors" @submit="onSubmit"/>
        <b-modal
                v-model="showModal"
                size="sm"
                :ok-only="true"
                title="Товар сохранен"
                body-class="success-modal"
        >
            <b-alert variant="success" show>Товар успешно сохранен</b-alert>
        </b-modal>
    </div>
</template>

<script>
    import GoodForm from './GoodForm';
    import Subheader from '../Widgets/Subheader';
    import Breadcrumb from '../Widgets/Breadcrumb';

    export default {
        name: "GoodCreate",
        components: {Breadcrumb, Subheader, GoodForm},
        data() {
            return {
                errors: {},
                showModal: false,
                newId: '',
            }
        },
        watch: {
            showModal(val) {
                if (!val) {
                    this.$router.push({
                        name: 'good-edit',
                        params: {id: this.newId}
                    });
                }
            }
        },
        methods: {
            onSubmit(data) {
                axios.post('shop/good', data)
                    .then(response => {
                        this.showModal = true;
                        this.newId = response.data.item.id;
                    })
                    .catch(e => {
                        this.errors = e.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>
    .success-modal {
        padding-bottom: 0;
    }
</style>
