<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item active">Список товаров</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-carrot" title="Список товаров" />
        <panel>
            <div class="mb-4">
                <router-link class="btn btn-primary" to="/goods/create">Добавить товар</router-link>
            </div>
            <div v-if="showLoader" class="text-center">
                <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
            </div>
            <div v-else>
                <div v-if="items.length > 0">
                    <table class="table">
                        <thead class="thead-themed">
                        <tr>
                            <th style="width:50px;">id</th>
                            <th>Название</th>
                            <th>Категория</th>
                            <th class="text-right">Цена</th>
                            <th style="width:10px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(good, index) in items">
                            <td scope="row">{{ good.id }}</td>
                            <td>
                                <router-link :to="{ name: 'good-edit', params: {id: good.id}}">{{ good.name }}</router-link>
                            </td>
                            <td>{{ good.category }}</td>
                            <td class="text-right">{{ good.price }}</td>
                            <td class="text-right">
                                <b-dropdown variant="icon" class="fs-lg" right no-caret>
                                    <template v-slot:button-content>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </template>
                                    <b-dropdown-item :href="good.url" target="_blank">
                                        <i class="fal fa-link mr-2"></i>
                                        Посмотреть на сайте
                                    </b-dropdown-item>
                                    <router-link :to="{ name: 'good-edit', params: {id: good.id}}" v-slot="{ href }">
                                        <b-dropdown-item :href="href">
                                            <i class="fal fa-pen-alt mr-2"></i>
                                            Редактировать
                                        </b-dropdown-item>
                                    </router-link>
                                    <b-dropdown-item @click="copy(good.id)">
                                        <i class="fal fa-copy mr-2"></i>
                                        Копировать
                                    </b-dropdown-item>
                                    <b-dropdown-item @click="confirmRemove(index)">
                                        <i class="fal fa-trash mr-2"></i>
                                        Удалить
                                    </b-dropdown-item>
                                </b-dropdown>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <b-pagination
                            v-if="lastPage > 1"
                            v-model="currentPage"
                            :total-rows="total"
                            :per-page="perPage"
                    ></b-pagination>
                    <b-modal
                            v-model="showConfirm"
                            size="sm"
                            title="Удалить товар"
                            ok-title="Да, удалить товар"
                            ok-variant="danger"
                            cancel-title="Отмена"
                            @ok="remove"
                    >
                        <p>
                            Вы уверены в том, что хотите удалить товар
                            <strong>#{{ removeItem.id }} "{{ removeItem.name }}"</strong>?
                        </p>
                    </b-modal>
                    <b-modal
                            v-model="showCopy"
                            size="sm"
                            title="Товар скопирован"
                            ok-title="Открыть товар"
                            cancel-title="Закрыть"
                            @ok="redirectToCopy"
                    >
                        <p>Товар успешно скопирован!</p>
                    </b-modal>
                </div>
                <div v-else>
                    <p class="text-center">Товары не найдены</p>
                </div>
            </div>
        </panel>
    </div>
</template>

<script>
    import paginate from '../../mixins/paginate';
    import Subheader from '../Widgets/Subheader';
    import Breadcrumb from '../Widgets/Breadcrumb';
    import Panel from '../Widgets/Panel';
    export default {
        name: "Goods",
        components: {Panel, Breadcrumb, Subheader},
        mixins: [paginate],
        data() {
            return {
                url: 'shop/goods',
                removeUrl: 'shop/good',
                showCopy: false,
                copyId: 0
            }
        },
        methods: {
            copy(id) {
                axios.post('shop/good/copy/' + id).then(response => {
                    this.items.unshift(response.data.item);
                    this.copyId = response.data.item.id;
                    this.showCopy = true;
                });
            },
            redirectToCopy() {
                this.$router.push({
                    name: 'good-edit',
                    params: {id: this.copyId}
                });
            }
        }
    }
</script>

<style scoped>

</style>
