<template>
    <div>
        <div>
            <b-form-file @input="inputHandler" ref="image" multiple accept="image/*" browse-text="Обзор" placeholder="Выбрать изображения"/>
        </div>
        <div v-if="showLoader" class="text-center">
            <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
        </div>
        <b-row v-else class="mt-4">
            <b-col cols="3" v-for="(image, index) in images" :key="index">
                <div class="rounded border position-relative">
                    <div class="image-block pt-6 rounded" :style="{'background-image': image.path.length > 0 ?'url(' + image.path + ')' : ''}">
                        <div class="position-absolute pos-top pos-right">
                            <a
                                    href="#"
                                    @click.prevent="remove(index)"
                                    v-if="image.id > 0 || image.error.length > 0"
                                    class="p-2 text-danger">
                                <i class="fal fa-times"></i>
                            </a>
                        </div>
                        <div v-if="image.id === 0" class="p-6 text-center">
                            <div v-if="image.progress < 100">
                                <small>Загрузка...{{ image.progress }}%</small>
                                <b-progress :value="image.progress" variant="info" :animated="true" class="progress-xs"></b-progress>
                            </div>
                            <div v-else-if="image.error.length > 0">
                                <b-badge pill variant="danger" v-b-tooltip.hover :title="image.error">?</b-badge>
                                <small class="text-danger">Ошибка</small>
                            </div>
                            <div v-else>
                                <small>Обработка...</small>
                                <div>
                                    <b-spinner type="grow" small variant="info"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center mt-2 mb-g">
                    <strong>{{ image.name }}</strong>
                </p>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import Panel from '../Widgets/Panel';

    export default {
        name: "ImageUploader",
        components: {Panel},
        props: {
            good_id: {
                required: false
            }
        },
        data() {
            return {
                images: {},
                showLoader: true
            };
        },
        created() {
            this.fetch();
        },
        methods: {
            fetch() {
                axios.get('/shop/images', {params: {good_id: this.hasGood() ? this.good_id : null}})
                    .then(response => {
                        for (let i = 0; i < response.data.items.length; i++) {
                            let image = response.data.items[i];
                            this.$set(this.images, this.getIndex(), {
                                id: image.id,
                                path: image.md,
                                name: image.name,
                                progress: 0,
                                error: ''
                            });
                        }
                        this.showLoader = false;
                    })
            },
            inputHandler(images) {
                for (let i = 0; i < images.length; i++) {
                    let image = images[i];
                    let index = this.getIndex();
                    this.$set(this.images, index, {id: 0, path: '', name: image.name, progress: 0, error: ''});
                    let formData = new FormData();
                    if (this.hasGood()) {
                        formData.append('good_id', this.good_id);
                    }
                    formData.append('image', image);
                    axios.post('/shop/image', formData, {
                        headers: {'Content-Type': 'multipart/form-data'},
                        onUploadProgress: e => {
                            this.images[index].progress = e.loaded / e.total * 100;
                        }
                    })
                        .then(response => {
                            this.images[index].id = response.data.item.id;
                            this.images[index].path = response.data.item.md;
                        })
                        .catch(e => {
                            this.images[index].error = e.response.data.errors.image[0];
                        });
                }
                this.$refs.image.reset();
            },
            getIndex() {
                return Object.keys(this.images).length;
            },
            hasGood() {
                return typeof this.good_id !== 'undefined';
            },
            remove(index) {
                axios.delete('/shop/image/' + this.images[index].id)
                    .then(response => {
                        this.$delete(this.images, index);
                    });
            }
        }
    }
</script>

<style scoped>
    .image-block {
        min-height: 11rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
