<template>
    <panel>
        <template slot="header">Последние заказы</template>
        <div v-if="showLoader" class="text-center">
            <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
        </div>
        <div v-else>
            <div v-if="orders.length > 0">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Дата</th>
                        <th>Покупатель</th>
                        <th>Телефон</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="order in orders" :class="{'bg-warning': order.is_new}">
                        <th scope="row"><router-link :to="'/orders/' + order.id">{{ order.number }}</router-link></th>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.sum }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <p class="text-center">Заказы не найдены</p>
            </div>
        </div>
    </panel>
</template>

<script>
    import Panel from '../Widgets/Panel';
    export default {
        name: "NewOrders",
        components: {Panel},
        data() {
            return {
                showLoader: true,
                orders: []
            };
        },
        created() {
            this.fetch();
        },
        methods: {
            fetch() {
                axios.get('shop/new-orders').then(response => {
                    this.orders = response.data.items;
                    this.showLoader = false;
                });
            }
        }
    }
</script>

<style scoped>
</style>
