<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item"><router-link to="/orders">Список заказов</router-link></li>
                <li class="breadcrumb-item active">Просмотр заказа</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-shopping-basket" title="Просмотр заказа" />
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2 v-if="showLoader">Загрузка...</h2>
                <h2 v-else>
                    Заказ <span class="fw-300"><i>#{{ order.number }}</i></span>
                </h2>
            </div>
            <div class="panel-container">
                <div class="panel-content">
                    <div v-if="showLoader" class="text-center">
                        <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
                    </div>
                    <div v-else>
                        <b-row>
                            <b-col cols="6">
                                <h4>Общая информация</h4>
                                <dl>
                                    <dt>Номер заказа: </dt>
                                    <dd>{{ order.number }}</dd>
                                    <dt>Дата заказа: </dt>
                                    <dd>{{ order.created_at }}</dd>
                                    <dt>Сумма заказа: </dt>
                                    <dd>{{ order.sum }}</dd>
                                </dl>
                            </b-col>
                            <b-col>
                                <h4>Покупатель</h4>
                                <dl>
                                    <dt>Имя</dt>
                                    <dd>{{ order.name }}</dd>
                                    <dt>Телефон</dt>
                                    <dd><a :href="'tel:'+order.phone">{{ order.phone }}</a></dd>
                                    <dt v-if="order.email">E-mail</dt>
                                    <dd v-if="order.email"><a :href="'mailto:' + order.email">{{ order.email }}</a></dd>
                                    <dt v-if="order.info">Дополнительная информация</dt>
                                    <dd v-if="order.info">{{ order.info }}</dd>
                                </dl>
                            </b-col>
                        </b-row>
                        <hr>
                        <h4>Содержимое корзины</h4>
                        <table class="table table-striped m-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название товара</th>
                                <th>Цена</th>
                                <th>Количество</th>
                                <th>Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in order.basket">
                                <th scope="row">{{ index + 1 }}</th>
                                <td><a :href="item.url">{{ item.name }}</a></td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.sum }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-right" colspan="4">Итого:</td>
                                <td>{{ order.sum }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Subheader from '../Widgets/Subheader';
    import Breadcrumb from '../Widgets/Breadcrumb';
    export default {
        name: "OrderDetail",
        components: {Breadcrumb, Subheader},
        data() {
            return {
                showLoader: true,
                order: {}
            };
        },
        created() {
            this.fetch();
        },
        methods: {
            fetch() {
                axios.get('shop/order/' + this.$route.params.id).then(response => {
                    this.order = response.data.item;
                    this.showLoader = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>
