<template>
    <div>
        <breadcrumb>
            <template slot="breadcrumb-items">
                <li class="breadcrumb-item active">Список заказов</li>
            </template>
        </breadcrumb>
        <subheader icon="fa-shopping-basket" title="Список заказов" />
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <div v-if="showLoader" class="text-center">
                        <b-spinner class="m-2" style="width: 5rem; height: 5rem;" label="Loading..." variant="warning"/>
                    </div>
                    <div v-else>
                        <div v-if="items.length >0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Дата</th>
                                    <th>Покупатель</th>
                                    <th>Телефон</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="order in items" :class="{'bg-warning': order.is_new}">
                                    <th scope="row"><router-link :to="'/orders/' + order.id">{{ order.number }}</router-link></th>
                                    <td>{{ order.created_at }}</td>
                                    <td>{{ order.name }}</td>
                                    <td>{{ order.phone }}</td>
                                    <td>{{ order.sum }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <b-pagination
                                    v-if="lastPage > 1"
                                    v-model="currentPage"
                                    :total-rows="total"
                                    :per-page="perPage"
                            ></b-pagination>
                        </div>
                        <div v-else>
                            <p class="text-center">Заказы не найдены</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import paginate from '../../mixins/paginate';
    import Subheader from '../Widgets/Subheader';
    import Breadcrumb from '../Widgets/Breadcrumb';
    export default {
        name: "Orders",
        components: {Breadcrumb, Subheader},
        mixins: [paginate],
        data() {
            return {
                url: 'shop/orders'
            };
        }
    }
</script>

<style scoped>

</style>
