<template>
    <div>
        <subheader title="Admin Panel" icon="fa-cog text-primary">
            <template slot="subheader-subtitle">
                <small>
                    Добро пожаловать!
                </small>
            </template>
        </subheader>
        <new-orders />
    </div>
</template>

<script>
    import NewOrders from './Shop/NewOrders';
    import Subheader from './Widgets/Subheader';
    export default {
        name: "Home",
        components: {
            Subheader,
            NewOrders
        }
    }
</script>

<style scoped>

</style>
