<template>
    <div class="product-button">
        <a @click.prevent="add" class="button button-md button-white button-ujarak" href="#">
            <span v-if="inBasket">В корзине</span>
            <span v-else>Добавить в корзину</span>
        </a>
    </div>
</template>

<script>
    import addbasket from '../mixins/addbasket'
    export default {
        name: "AddToBasket",
        mixins: [addbasket]
    }
</script>

<style scoped>

</style>
