<template>
    <div class="group-sm group-middle">
        <div class="product-stepper">
            <div class="stepper">
                <input type="number" v-model="quantity" class="form-input stepper-input">
                <span class="stepper-arrow up" @click="setQuantity(1)"></span>
                <span class="stepper-arrow down" @click="setQuantity(-1)"></span>
            </div>
        </div>
        <div><a @click.prevent="add" href="#" class="button button-primary button-pipaluk">
            <span v-if="inBasket">Добавить ещё</span>
            <span v-else>Добавить в корзину</span>
        </a></div>
    </div>
</template>

<script>
    import quantity from '../mixins/quantity';
    import addbasket from '../mixins/addbasket'
    export default {
        name: "AddToBasketDetail",
        mixins: [quantity, addbasket],
        watch: {
            quantity(val) {
                val = parseInt(val);
                this.quantity = val < 1 ? 1 : val;
            }
        }
    }
</script>

<style scoped>

</style>
