<template>
    <div>
        <div class="rd-navbar-basket-wrap">
            <button class="rd-navbar-basket fl-bigmug-line-shopping198" data-rd-navbar-toggle=".cart-inline">
                <span v-if="basket.count > 0">{{ basket.count }}</span>
            </button>
            <div class="cart-inline">
                <div class="cart-inline-header" v-if="basket.count > 0">
                    <div>
                        <h5 class="cart-inline-title">Товаров в корзине: <span>{{ basket.count }}</span></h5>
                        <h6 class="cart-inline-title">На сумму: <span>{{ basket.formatted_total_sum }}</span></h6>
                    </div>
                </div>
                <div class="cart-inline-body">
                    <div v-if="basket.count > 0">
                        <basket-item v-for="item in basket.items" :key="item.id" :item="item"></basket-item>
                    </div>
                    <div v-else>Ваша корзина пуста</div>
                </div>
                <div class="cart-inline-footer" v-if="basket.count > 0">
                    <a class="button button-md button-primary button-pipaluk btn-block" href="/shop/cart">Оформить заказ</a>
                </div>
            </div>
        </div>
        <a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping198" href="/shop/cart"><span v-if="basket.count > 0">{{ basket.count }}</span></a>
    </div>
</template>

<script>
    import BasketItem from './BasketItem';
    export default {
        name: "Basket",
        components: {BasketItem},
        data() {
            return {
                items: [],
                count: 0,
                total_sum: 0,
                formatted_total_sum: ''
            };
        },
        computed: {
            basket() {
                return this.$store.state.basket;
            }
        },
        mounted() {
            axios.get('/shop/basket').then(response => {
                this.$store.commit('SET_BASKET', response.data);
            });
        }
    }
</script>

<style scoped>

</style>
