<template>
    <div class="cart-inline-item">
        <div class="unit align-items-center">
            <div class="unit-left">
                <a class="cart-inline-figure" :href="item.url"><img :src="item.thumbnail" alt="" width="108" height="100"/></a>
            </div>
            <div class="unit-body">
                <h6 class="cart-inline-name"><a :href="item.url">{{ item.name }}</a>
                </h6>
                <div>
                    <div class="group-xs group-inline-middle">
                        <div class="table-cart-stepper">
                            <div class="stepper">
                                <input type="number" v-model="quantity" class="form-input stepper-input">
                                <span class="stepper-arrow up" @click="setQuantity(1)"></span>
                                <span class="stepper-arrow down" @click="setQuantity(-1)"></span>
                            </div>
                        </div>
                        <h6 class="cart-inline-title">
                            {{ item.formatted_sum }}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import basketItem from '../mixins/basket-item'
    export default {
        name: "BasketItem",
        mixins: [basketItem]
    }
</script>

<style scoped>
    .cart-inline-figure {
        width: 108px;
    }
</style>
