<template>
    <tr>
        <td><a class="table-cart-figure" :href="item.url"><img :src="item.thumbnail" alt="" width="146" height="132"/></a><a class="table-cart-link" :href="item.url">{{ item.name }}</a></td>
        <td>{{ item.formatted_price }}</td>
        <td>
            <div class="table-cart-stepper">
                <div class="stepper">
                    <input type="number" v-model="quantity" class="form-input stepper-input">
                    <span class="stepper-arrow up" @click="setQuantity(1)"></span>
                    <span class="stepper-arrow down" @click="setQuantity(-1)"></span>
                </div>
            </div>
        </td>
        <td>{{ item.formatted_sum }}</td>
    </tr>
</template>

<script>
    import basketItem from '../mixins/basket-item';

    export default {
        name: "CartBasketItem",
        mixins: [basketItem]
    }
</script>

<style scoped>

</style>
