<template>
    <div>
        <div v-if="created">
            <section class="section section-md section-first bg-default">
                <div class="container">
                    <h3>Заказ создан</h3>
                    <p>Ваш заказ #{{order.id}} на сумму {{order.sum}} успешно создан.</p>
                    <p>Мы с Вами свяжемся в ближайшее время.</p>
                </div>
            </section>
        </div>
        <div v-else-if="basket.count > 0">
            <!-- Shopping Cart-->
            <section class="section section-md section-first bg-default text-md-left">
                <div class="container">
                    <h4 class="text-spacing-50">Ваша корзина</h4>
                    <!-- shopping-cart-->
                    <div class="table-custom-responsive">
                        <table class="table-custom table-cart">
                            <thead>
                            <tr>
                                <th>Название товара</th>
                                <th>Цена</th>
                                <th>Количество</th>
                                <th>Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            <cart-basket-item v-for="item in basket.items" :key="item.id" :item="item"></cart-basket-item>
                            </tbody>
                        </table>
                    </div>
                    <div class="group-xl group-lg-justify">
                        <div></div>
                        <div>
                            <div class="group-xmd group-middle">
                                <div>
                                    <div class="group-xmd group-middle">
                                        <h6 class="text-gray-500">Сумма заказа:</h6>
                                        <h3 class="cart-product-price">{{ basket.formatted_total_sum }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Section checkout form-->
            <section class="section section-md bg-default text-md-left">
                <div class="container">
                    <h4 class="text-spacing-50">Оформить заказ</h4>
                    <form class="rd-form rd-mailform">
                        <div class="row row-14 gutters-14">
                            <div class="col-12">
                                <div class="form-wrap" :class="{ 'has-error': $v.name.$error }">
                                    <input class="form-input"
                                           id="checkout-name"
                                           type="text"
                                           name="name"
                                           v-model.trim="$v.name.$model"
                                           placeholder="Ваше имя *"
                                    />
                                    <div class="form-validation" v-if="$v.name.$error && !$v.name.required">Обязательное поле</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap"
                                     :class="{ 'has-error': $v.phone.$error }">
                                    <input class="form-input"
                                           id="checkout-phone"
                                           type="text"
                                           name="phone"
                                           v-model.trim="$v.phone.$model"
                                           v-mask="'+7(999)999-99-99'"
                                           placeholder="Телефон *"
                                    />
                                    <div class="form-validation" v-if="$v.phone.$error && !$v.phone.required">Обязательное поле</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap"
                                     :class="{ 'has-error': $v.email.$error }">
                                    <input class="form-input"
                                           id="checkout-email"
                                           type="text"
                                           name="email"
                                           v-model.trim="$v.email.$model"
                                           placeholder="E-Mail"
                                    />
                                    <div class="form-validation" v-if="$v.email.$error && !$v.email.email">Введите корректный E-mail</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <textarea class="form-input"
                                              v-model="info"
                                              id="checkout-info"
                                              cols="30"
                                              rows="10"
                                              placeholder="Дополнительная информация"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="alert-block" role="alert" v-if="hasError">
                        <div v-for="field in error.errors">
                            <div v-for="err in field">{{err}}</div>
                        </div>
                    </div>
                </div>
                <div class="button-wrap text-center"><button @click="checkout" class="button button-primary button-pipaluk">Оформить заказ</button></div>
            </section>
        </div>
        <div v-else>
            <section class="section section-md section-first bg-default">
                <div class="container">
                    <h3>Ваша корзина пуста</h3>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import { required, email } from 'vuelidate/lib/validators'
    export default {
        name: "Cart",
        data() {
            return {
                name: '',
                phone: '',
                email: '',
                info: '',
                error: {},
                created: false,
                order: {},
            };
        },
        computed: {
            basket() {
                return this.$store.state.basket;
            },
            hasError() {
                return Object.keys(this.error).length !== 0;
            }
        },
        methods: {
            checkout() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    axios.post('/shop/checkout', {name: this.name, phone: this.phone, email: this.email, info: this.info})
                        .then(response => {
                            this.created = true;
                            this.order = response.data;
                            this.$store.commit('SET_BASKET', {
                                items: [],
                                count: 0,
                                total_sum: 0,
                                formatted_total_sum: ''
                            });
                        })
                        .catch(e => {
                            this.error = e.response.data;
                        });
                }
            }
        },
        validations: {
            name: {
                required
            },
            phone: {
                required
            },
            email: {
                email
            }
        }
    }
</script>

<style scoped>
    .alert-block {
        padding-top: 30px;
        color: #f5543f;
    }
</style>
