<template>
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><router-link to="/">Admin Panel</router-link></li>
        <slot name="breadcrumb-items"></slot>
    </ol>
</template>

<script>
    export default {
        name: "Breadcrumb"
    }
</script>

<style scoped>

</style>
