<template>
    <div class="panel">
        <div v-if="hasHeaderSlot" class="panel-hdr"><h2><slot name="header"></slot></h2></div>
        <div class="panel-container">
            <div class="panel-content">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Panel",
        props: {
            title: {
                type: String,
                required: false
            }
        },
        computed: {
            hasHeaderSlot() {
                return !!this.$slots.header
            }
        }
    }
</script>

<style scoped>

</style>
