<template>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="fal" :class="icon"></i> {{ title }}
            <slot name="subheader-subtitle"></slot>
        </h1>
        <slot name="subheader-block"></slot>
    </div>
</template>

<script>
    export default {
        props: {
            icon: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            }
        },
        name: "Subheader"
    }
</script>

<style scoped>

</style>
